body > #root > div {
  height: 100vh;
}
.App {
  text-align: center;
  background-color: #282c34;
}

.header_link {
  text-align: left;
}

/* Container holding the image and the text */
.image-container {
  position: relative;
  color: white;
}
.centered-left {
  position: absolute;
  top: 65%;
  left: 30%;
  color: white;
  text-align: right;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: translate(-50%, -50%);
}
